<%= render partial: 'users/sidebar', locals: {user:@user, new_book:@new_book} %>

<h1>Book detail</h1>

<ul>
	<li><%= attachment_image_tag @user, :profile_image_id, :fill, 10, 10, format: 'jpeg', fallback: "no_image.jpg" %><br>
		<%= @user.name %></li>
	<li><%= @book.title %></li>
	<li><%= @book.opinion %></li>
	<% if @book.user == current_user %>
	<li><%= link_to "Edit", edit_book_path(@book.id) %></li>
	<li><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %></li>
	<% end %>
</ul>